
			html, body {
				padding: 0;
				margin: 0;
			}
			body, div, p {
				font-family: Arial, Helvetica, Verdana;
				color: #333;
			}
			body {
				background-color: #9ACD32;
			}
			h1 {
				font-size: 60px;
			}
			a, a:link, a:active, a:visited {
				color: black;
				text-decoration: underline;
			}
			a:hover {
				color: #9E1F63;
			}
			#intro {
				width: 580px;
				margin: 0 auto;
			}
			.wrapper {
				background-color: white;
				width: 480px;
				margin: 40px auto;
				padding: 50px;
				box-shadow: 0 0 5px #999;
			}
			
			.list_carousel {
				background-color: #ccc;
				margin: 0 0 30px 60px;
				width:950px;
				heiht:500px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
				heiht:500px;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
				background-color: #eee;
				border: 5px solid #999;
				width: auto;
				height: 200px;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				margin-left: 10px;
			}
			.next {
				float: right;
				margin-right: 10px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}
			.list_carousel2 {
				background-color: #ccc;
				margin: 0 0 30px 60px;
				width:967px;
				heiht:200px;
			}
			.list_carousel2 ul {
				margin: 0;
				padding: 0;
				list-style: none;
				heiht:auto;
                width:500px;
                float: left;
			}
			.list_carousel2 li {
				font-size: 40px;
				color: #999;
				text-align: center;
				background-color: #eee;
				border: 5px solid #999;
				width: auto;
				height: auto;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			}
			.list_carousel2.responsive {
				width: auto;
				margin-left: 0;
			}
		
